html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: black;
}

body {
  background-color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* header */

header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 4rem;
  right: 0;
  left: 0;
  background-color: white;
  height: 4rem;
}

.company {
  display: inline-flex;
  align-self: center;
}

.logo {
  align-self: center;
  padding-right: .25rem;
  min-height: 2rem;
  padding-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

#academy {
  color: lightgrey;
}

#colmar {
  font-weight: bold;
}

.mobile-nav {
  display: none;
}

.menu {
  display: inline-flex;
  align-self: center;
  color: black;
}

.menu ul span {
  margin-left: 1rem;
}

.menu ul span:hover {
  font-weight: bold;
  color: darkgrey;
}

/* content */

.content {
  padding-top: 4rem;
}

.banner {
  background-color: lightgrey;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.banner .left-column {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.left-column img {
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.right {
  width: 25%;
  justify-content: center;
}

.grey-banner-text {
  color: grey;
}

.banner-button {
  display: flex;
  color: white;
  background-color: grey;
  align-content: center;
  justify-content: center;
}

.banner-button h4 {
  padding: .5rem .5rem;
  margin: 0px;
}

.banner-button:hover {
  background-color: darkgrey;
  font-weight: bold;
}

  /* Information Section */

.information-main {
  font-family: Arial;
  display: flex;
  padding-bottom: 2rem;
}

.information-main .left-column {
  display: block;
  color: grey;
  max-width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.information-main .left-column h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  margin: 0px;
}

.information-main .left-column p {
  margin: 0px;
}

.information-main .left-column h5 {
  padding-bottom: 2rem;
}

.information-main .right-column {
  width: 40%;
  display: flex;
  width: 40%;
}

.image {
  width: 35%;
  padding: 1rem;
  min-width: 125px;
}

.mobile-img {
  display: none;
}

.info .image img {
  height: auto;
  width: 100%;
  flex-grow: 3;
}

.info {
  display: flex;
  border: 1px lightgrey solid;
  height: 11rem;
  transition: all 0.4s linear;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.information {
  width: 65%;
  align-content: center;
  font-family: Arial;
  flex-wrap: wrap;
  justify-content: center;
}

.info:first-child {
  padding-top: 1rem;
}

#grey {
  background-color: lightgrey;
}

.information h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.readmore {
  display: flex;
  justify-content: center;
  color: black;
  height: auto;
  width: auto;
}

.readmore a {
  padding: 0rem .25rem;
}

.readmore a:hover {
  background-color: darkgrey;
  transition: all .5s linear;
  color: white;
}

/* Start Learning */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

.learning {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem 0rem;
}

.learning h3 {
  margin: 0px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.class {
  margin: 1rem 1rem;
  width: 300px;
  height: 375px;
  flex-direction: column;
  background-color: white;
}

.class img {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  width: 100%;
}

.class h4 {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.25rem;
  margin: 0
}
.class h4, .class p {
  padding-left: 1rem;
}

.class p {
  color: grey;
}

/* Thesis Exhibit */

.exhibit-content {
  font-family: Arial;
  display: flex;
  padding-bottom: 2rem;
}

.exhibit-content .left-column {
    width: 60%;
    padding: 0rem 1.5rem 2rem 1.5rem;
}

.left-column video {
  width: 400px;
  height: auto;
  width: 100%;

}

#left {
  padding-top: 0:
}

#exhibit-grey {
  background-color: lightgrey;
}

.left-column h4 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 8px;
}

.exhibit-content .left-column p {
  color: grey;
  margin: 0;
}

/* Footer */

footer {
  border-top: 1px solid lightgrey;
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colmar {
  color: darkgrey;
}


/* Media */

@media only screen and (max-width: 1025px) {
  .information h4 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 950px) {
  .information h4 {
    font-size: 1.1rem;
  }
}

/* header media */

@media only screen and (max-width: 560px) {
  .company {
    display: none;
  }

  .menu {
    display: none;
  }

  header {
    height: 64px;
    justify-content: center;
    padding: 0;
  }

  .mobile-nav {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .mobile-nav ul {
    padding: 0;
  }

  .mobile-nav ul img {
    height: 40px;
    margin-right: 25px;
    margin-left: 25px;
  }
}

/* Grey banner mobile */

@media only screen and (max-width: 560px) {
  .banner {
    flex-direction: column;
  }

  .banner .left-column {
    margin: 0px;
    height: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 32px;
  }

  .right {
    width: 100%;
    padding-left: 1rem;
    align-items: center;
  }

  .grey-banner-text h2 {
    margin: 0;
  }

  .banner-button {
    width: 150px;
    margin-bottom: 32px;
  }
}

/* Info banner */

@media only screen and (max-width: 560px) {
  .information-main .mobile-column {
    display: none;
  }

  .information-main {
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;
  }

  .information-main .right-column {
    width: 100%;
    border: 0;
    justify-content: center;
  }

  .info {
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 90%;
    height: auto;
    border: 0;
  }

  .image {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 100%;
  }

  .information {
    justify-content: flex-start;
    width: 100%;
    padding-left: 1rem;
  }

  .information h4 {
    margin: 0;
    font-size: 1.25rem;
  }

  #grey {
    background-color: white;
  }

  .info img {
    display: block;
    width: 100%;
    padding: 0 0 1rem;
  }

}

/* Start Learning Media */

@media only screen and (max-width: 560px) {
  .class img, .class p {
    display: none;
  }

  .class {
    height: auto;
    width: 60%;
    margin: .5rem;
  }

  .class h4 {
    background-color: darkgrey;
    padding: 1rem 2rem 1.5rem 1rem;
    opacity: 1;
  }

  .class:last-child {
    margin-bottom: 2rem;
  }

  .class:hover {
    width: 75%;
    transition: all .5s linear;
    background-color: darkgrey;
  }
}

/* Thesis Exhibit Media */

@media only screen and (max-width: 560px) {
  .thesis-mobile {
    display: none;
  }

  .urban {
    display: none;
  }

  #left {
    width: 100%;
    padding: 0;
  }

  #left video {
    width: 100%;
    height: auto;
  }

  .learning {
    margin-bottom: 1rem;
  }
}

/* Footer Mobile */

@media only screen and (max-width: 560px) {
  .footer {
    display: none;
  }
}
