html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: black;
}

body {
  background-color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* header */

header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 4rem;
  right: 0;
  left: 0;
  background-color: white;
  height: 4rem;
}

.company {
  display: inline-flex;
  align-self: center;
}

.logo {
  align-self: center;
  padding-right: .25rem;
  min-height: 2rem;
  padding-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

#academy {
  color: lightgrey;
}

#colmar {
  font-weight: bold;
}

.mobile-nav {
  display: none;
}

.menu {
  display: inline-flex;
  align-self: center;
  color: black;
}

.menu ul span {
  margin-left: 1rem;
}

.menu ul span:hover {
  font-weight: bold;
  color: darkgrey;
}

/* content */

.content {
  padding-top: 4rem;
}

.banner {
  background-color: lightgrey;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.left-column {
  max-width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.left-column img {
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;

}

.right {
  max-width: 25%;
  justify-content: center;
}

.grey-banner-text {
  color: grey;
}

.banner-button {
  display: flex;
  color: white;
  background-color: grey;
  align-content: center;
  justify-content: center;
}

.banner-button h4 {
  padding: .5rem .5rem;
  margin: 0px;
}

.banner-button:hover {
  background-color: darkgrey;
  font-weight: bold;
}

  /* Information Section */

.information-main {
  font-family: Arial;
  display: flex;
  padding-bottom: 2rem;
}

.information-main .left-column {
  display: block;
  color: grey;
}

.information-main .left-column h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  margin: 0px;
}

.information-main .left-column p {
  margin: 0px;
}

.information-main .left-column h5 {
  padding-bottom: 2rem;
}

.information-main .right-column {
  width: 40%;
  display: flex;
  width: 40%;
}

.image {
  width: 35%;
  padding: 1rem;
}

.info .image img {
  height: auto;
  width: 100%;
  flex-grow: 3;
}

.info {
  display: flex;
  border: 1px lightgrey solid;
  height: 11rem;
  transition: all 0.4s linear;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.information {
  width: 65%;
  align-content: center;
  font-family: Arial;
  flex-wrap: wrap;
  justify-content: center;
}

.info:first-child {
  padding-top: 1rem;
}

.info:last-child {
  background-color: lightgrey;
}

.information h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.readmore {
  display: flex;
  justify-content: center;
  color: black;
  height: auto;
  width: auto;
}

.readmore a {
  padding: 0rem .25rem;
}

.readmore a:hover {
  background-color: darkgrey;
  transition: all .5s linear;
  color: white;
}

/* Start Learning */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

.learning {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem 0rem;
}

.learning h3 {
  margin: 0px;
}

.row {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.class {

}
